<div class="flex flex-col items-center text-center text-xl myCard">

    <p>"Welcome to our food website! We are dedicated to providing you with the most delicious and nutritious food options. Our inventory is carefully curated to include only the best and healthiest foods. To make it easier for you to make informed choices, we've included detailed nutritional information for every item in our inventory. Whether you're counting calories, watching your sodium intake, or following a specific diet, our nutritional information makes it simple to find the foods that are right for you. So, take a look around, find your favorite dishes, and enjoy a healthier and tastier life with us!"</p>

    <a href="/api/food" class="bg-green-400 myBtn w-50 my-2"><h1>View our inventory</h1></a>

</div>


{{#if loggedIn}}
<button id="logout" class="bg-green-400 myBtn w-30 my-2">Logout</button>
<script src="/js/logout.js"></script>
{{/if}}