<div class="flex flex-col justify-center">
	<H1 class="text-center my-4 text-xl text-white">You must Login or Sign Up to view the market</H1>
	<div class="flex flex-row justify-center loginDiv">
		<div class="flex flex-col justify-center items-center mx-3 h-72 myCard w-80">
			<h2 class="text-center my-2 font-semibold">Login</h2>
			<form class="flex flex-col w-5/6">
				<input id="email-login" class="inputBox my-2 text-center" type="text" placeholder="Enter Your Email" />
				<input id="password-login" class="inputBox my-2 text-center" type="password" placeholder="Enter Your Password" />
			</form>
			<button id="login" class="bg-green-400 myBtn w-20 my-2" type="submit">Log In</button>
		</div>

		<div class="flex items-center m-3">
			<H1 class="text-xl font-bold text-white">OR</H1>
		</div>

		<div class="flex flex-col justify-center items-center mx-3 h-72 myCard w-80">
			<h2 class="text-center my-2 font-semibold">Sign Up</h2>
			<form class="flex flex-col w-5/6">
				<input id="userName-signup" class="inputBox my-2 text-center" type="text" placeholder="Choose a User Name" />
				<input id="email-signup" class="inputBox my-2 text-center" type="text" placeholder="Enter Your Email" />
				<input id="password-signup" class="inputBox my-2 text-center" type="password" placeholder="Choose a Password" />
			</form>
			<button id="signUp" class="bg-green-400 myBtn w-20 my-2" type="submit">Sign Up</button>
		</div>
	</div>
</div>
<script src="./js/login.js"></script>